/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* General Styling */
html {
	scroll-behavior: smooth;
}
* {
	font-family: "Montserrat", sans-serif;
	margin: 0 0;
}
h1 {
	font-size: 32px;
	font-weight: 800;
}
h2 {
	font-size: 28px;
	font-weight: 700;
}
/* Header & Main Nav */
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 90px;
	z-index: 1000;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.75);
}
nav {
	position: relative;
	height: 100%;
	width: 80%;
	margin: 0 auto;
	justify-content: flex-end;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
nav div {
	justify-content: space-between;
	align-content: center;
}
nav img {
	cursor: pointer;
}
.navbar-brand {
	color: #fff;
	font-size: 1.4em;
}
.navbar-nav {
	margin: 0 auto;
}
.navbar-nav li {
	padding: 0 10px;
}
.navbar-nav a {
	color: #fff !important;
}
.btn {
	background-color: #ae1f23;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid #f1cc6a;
	border-radius: 2px;
	padding: 10px 30px;
}
.btn:hover {
	background-color: #86181b;
	border: 1px solid #f1cc6a !important;
}
/* Hero Background and Container Elements */
.hero {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
		url(images/pizza-bg.jpg);
	background-position: center;
	background-size: cover;
}
.hero-content {
	position: absolute;
	top: 35%;
	left: 11.5%;
	max-width: 60%;
	background: #ae1f249f;
	padding: 20px 45px;
	color: rgba(255, 255, 255, 0.85);
	line-height: 1.6;
	border-radius: 5px;
}
.hero-content h1 {
	font-size: 4.2vw;
	font-weight: 700;
}
.hero-content p {
	font-size: 20px;
	font-weight: 500;
}
/* Main Content Elements */
main {
	width: 100%;
	margin: 10% 0;
}
main .container {
	margin: 0 auto;
	position: relative;
	padding: 35px 0;
}
main h2 {
	font-size: 2.5rem;
	color: rgba(0, 0, 0, 0.75);
}
/* Container that the restaurant cards get populated in */
#favContainer {
	height: 75vh;
}
/* Spinner Animation while the site waits for the API Response */
#spinner:not([hidden]) {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#spinner::after {
	content: "";
	width: 120px;
	height: 120px;
	border: 8px solid #f3f3f3;
	border-top: 8px solid #af2024;
	border-radius: 100%;
	will-change: transform;
	animation: spin 1s infinite linear;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/* Media Queries */
@media only screen and (max-width: 600px) {
	#navbarNavDropdown {
		background: rgba(0, 0, 0, 0.75);
		padding: 30px;
	}
	nav {
		margin-top: -9px;
	}
}
