@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0;
}

header {
    position: fixed;
    /* border: solid yellow; */
    width: 100%;
    top: 2%;
}

.nav-logo {
    position: absolute;
    left: 3%;
}

.nav-logo img {
    width: 90px;
}

.nav-btn {
    position: absolute;
    top: 1%;
    right: 3%;
}

.nav-btn a { 
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.75);
    background: #ae1f23;
    border-radius: 3px;
    transition: .5s;
}

.nav-btn a:hover {
    color: white;
    transition: .5s;
}

.nav-btn a i {
    font-size: 25px;
    padding-left: 10px;
}
.nav-bar {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-container {
    position: absolute;
    left: 10%;
    margin-right: 40%;
    /* border: solid blue; */
}

.nav-links {
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-li {
    padding: 0 15px 0 15px;
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.75);
    transition: .5s;
}

.nav-bar ul li a:hover {
    color: white;
    transition: .5s;
}

.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url(images/pizza-bg.jpg);
    background-position: center;
    background-size: cover;
}